<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td,
        th {
            padding: 1rem;
        }
    </style>
</head>
<body>
    <table border="1" style="margin:auto;text-align: center;">
        <tr>
            <th>Name</th>
            <th>Source-translation</th>
            <th>member source</th>
            <th>member destination</th>
            <th>member destination-translation</th>
            <th>translated-address </th>
        </tr>
        <tr>
            <td>{{ nut_rule[0] }}</td>
            <td>{{ nut_rule[1] }}</td>
            <td>{{ nut_rule[2] }}</td>
            <td>{{ nut_rule[3] }}</td>
            <td>{{ nut_rule[4] }}</td>
            <td>{{ nut_rule[5] }}</td>
        </tr>
    </table>
</body>
</html>