{% extends 'base.html' %}
{% block body %}
	<h2>Sec Rules:</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Source member</th>
			<th>destination member</th>
			<th>application member</th>
			<th>service member</th>
			<th>action</th>
		</tr>

		{% for rule in sec_rules %}
			<tr>
				<td>{{ rule[0] }}</td>
				<td>{{ rule[1] }}</td>
				<td>{{ rule[2] }}</td>
				<td>{{ rule[3] }}</td>
				<td>{{ rule[4] }}</td>
				<td>{{ rule[5] }}</td>
			</tr>
		{% endfor %}
		
	</table>
	<h2>Nat Rules:</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Source-translation</th>
			<th>member source</th>
			<th>member destination</th>
			<th>member destination-translation</th>
			<th>translated-address </th>
		</tr>

		{% for rule in nat_rules %}
			<tr>
				<td>{{ rule[0] }}</td>
				<td>{{ rule[1] }}</td>
				<td>{{ rule[2] }}</td>
				<td>{{ rule[3] }}</td>
				<td>{{ rule[4] }}</td>
				<td>{{ rule[5] }}</td>
			</tr>
		{% endfor %}

	</table>
{% endblock %}